* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; background-position: center; background-repeat: no-repeat; }

h1, h2, h3, h4, h5 { font-weight: inherit; text-align: left; font-family: "Proxima Nova", sans-serif; margin: 0; line-height: 1; }

html { font-size: 10px; -webkit-transition: .15s; -o-transition: .15s; transition: .15s; }

body { font-family: "Proxima Nova", sans-serif; font-weight: normal; font-size: 1.6rem; background-color: #fff; color: #000; font-weight: 400; width: 100%; position: relative; }

a { text-decoration: none; color: inherit; outline: none !important; }

button, input, textarea { outline: none; }

section, footer, header { width: 100%; position: relative; }

.test { background-color: #87b448; border-bottom: .2rem solid #71973c; }

.wrapper { max-width: 1440px; min-width: 970px; position: relative; z-index: 2; padding: 0 1.5rem; height: 100%; margin: 0 auto; }

.wrapper_head { padding-top: 1.2rem; padding-bottom: 1.5rem; display: grid; grid-template-columns: 16.2rem 1fr 9.5rem minmax(10rem, -webkit-min-content); grid-template-columns: 16.2rem 1fr 9.5rem minmax(10rem, min-content); -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.wrapper_head__logo { height: 3.9rem; }

.wrapper_head__logo a { display: inline-block; height: 100%; }

.wrapper_head__search { -webkit-align-self: end; -ms-flex-item-align: end; align-self: end; padding-right: 2rem; }

.wrapper_head__search .pole { background-color: #73993d; outline: none; font-family: "Proxima Nova", sans-serif; color: #ffffff; border: none; width: 100%; min-width: 43.5rem; padding: .8rem 2rem .8rem 3.8rem; -webkit-border-radius: .3rem; border-radius: .3rem; -o-text-overflow: ellipsis; text-overflow: ellipsis; background-image: url(../img/search.svg); -webkit-background-size: 16px 16px; background-size: 16px; background-position: 10px center; background-repeat: no-repeat; }

.wrapper_head__search .pole::-webkit-input-placeholder { color: #8FBC4C; }

.wrapper_head__search .pole::-moz-placeholder { color: #8FBC4C; }

.wrapper_head__search .pole:-moz-placeholder { color: #8FBC4C; }

.wrapper_head__search .pole:-ms-input-placeholder { color: #8FBC4C; }

.wrapper_head__search .pole:focus { background-color: #fff; color: #000; }

.wrapper_head__alarm { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding-left: 1rem; padding-right: 1.5rem; margin-top: .7rem; }

.wrapper_head__alarm .icon { cursor: pointer; display: block; width: 2.6rem; height: 2.6rem; }

.wrapper_head__alarm .icon svg { width: 2.6rem; height: 2.6rem; }

.wrapper_head__alarm .icon svg path { fill: #fff; }

.wrapper_head__alarm .icon:hover svg path { fill: #CAD862; }

.wrapper_head__profile .ava { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; cursor: pointer; margin-top: .7rem; }

.wrapper_head__profile .ava .photo { width: 3.2rem; height: 3.2rem; }

.wrapper_head__profile .prof_name { color: #fefefe; max-width: 17rem; font-size: 1.6rem; margin-left: 1.1rem; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.blocks { display: grid; grid-template-columns: 21rem 1fr 21.5rem; grid-gap: 1.5rem; padding-bottom: 5rem; }

.sidebar_left .featured { border-bottom: 0.1rem solid #e0e2e6; padding-bottom: 1.5rem; }

.sidebar_left .advertisement { border-bottom: 0.1rem solid #e0e2e6; padding-bottom: 1.5rem; }

.sidebar_left__menu ul { list-style: none; }

.sidebar_left__menu ul li { border-bottom: 0.1rem solid #e0e2e6; }

.sidebar_left__menu ul li a { color: #59606b; font-size: 1.6rem; display: inline-block; width: 100%; padding: 1.6rem 0 1.6rem 5rem; }

.sidebar_left__menu ul li a:hover { color: #87B446; }

.sidebar_left__menu ul li:nth-child(1) a { background: url(../img/menu/feed.svg) no-repeat center left 0; }

.sidebar_left__menu ul li:nth-child(1) a:hover { background: url(../img/menu/feed-hover.svg) no-repeat center left 0; }

.sidebar_left__menu ul li:nth-child(2) a { background: url(../img/menu/ask.svg) no-repeat center left 0.1rem; }

.sidebar_left__menu ul li:nth-child(2) a:hover { background: url(../img/menu/ask-hover.svg) no-repeat center left 0.1rem; }

.sidebar_left__menu ul li:nth-child(3) a { background: url(../img/menu/companies.svg) no-repeat center left 0.3rem; }

.sidebar_left__menu ul li:nth-child(3) a:hover { background: url(../img/menu/companies-hover.svg) no-repeat center left 0.3rem; }

.sidebar_left__menu ul li:nth-child(4) a { background: url(../img/menu/services.svg) no-repeat center left 0.4rem; }

.sidebar_left__menu ul li:nth-child(4) a:hover { background: url(../img/menu/services-hover.svg) no-repeat center left 0.4rem; }

.sidebar_right .featuredp { border-bottom: 0.1rem solid #e0e2e6; padding-bottom: 1.5rem; }

.sidebar_right .people { border-bottom: 0.1rem solid #e0e2e6; padding-bottom: 1.5rem; }

.title { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding-top: 1.8rem; padding-bottom: 1.5rem; }

.title h3 { color: #7c8695; font-size: 1.4rem; }

.title a { display: inline-block; color: #1c2534; font-size: 1.4rem; }

.title p { color: #b7bfcd; font-size: 1.2rem; }

.item { margin-bottom: 1.8rem; }

.item:last-child { margin-bottom: 0; }

.item h2 { color: #1c2534; font-size: 1.6rem; margin-bottom: .5rem; }

.item__content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; width: 100%; }

.item__content img { -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }

.item__content .descr { margin-left: 1rem; }

.item__content p { color: #7c8695; font-size: 1.4rem; padding-right: 1rem; }

.item__content p.who { margin-bottom: .5rem; }

.item__content a { font-size: 1.2rem; color: #1c2534; display: inline-block; }

.add a { color: #d3d3d3; font-size: 1.1rem; display: inline-block; }

.middle_blocks { padding-top: 1.2rem; }

.middle_title { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.middle_title h2 { color: #1c2534; font-size: 3rem; }

.middle_title .add_new { display: inline-block; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; padding: .7rem 2rem; background-color: #87b448; color: #ffffff; font-size: 1.4rem; }

.middle_items { -webkit-border-radius: 0.5rem; border-radius: 0.5rem; border: 0.1rem solid #e0e2e6; display: grid; width: 100%; grid-template-columns: repeat(auto-fill, 14rem); -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: top; -webkit-align-items: top; -ms-flex-align: top; align-items: top; padding: 1.5rem; margin-top: 2rem; grid-gap: 1.5rem; grid-row-gap: 1.5rem; }

.middle_items .item_service h2 { margin-top: 1.5rem; color: #1c2534; font-size: 1.4rem; text-align: center; }

.middle_items .item_service .pic { border: 0.1rem solid #e0e2e6; cursor: pointer; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 14rem; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.middle_items .item_service .pic img { max-width: 14rem; width: 100%; }

.middle_items .item_service:hover .pic { background-color: #f4f7fb; }

.middle_items .item_service:hover h2 { color: #71973c; }

.private a { color: #b7bfcd; display: inline-block; font-size: 1.2rem; }

.copyright .title { padding-bottom: 1rem; }

.modal_div { max-width: 30rem; width: 100%; height: auto; -webkit-border-radius: .3rem; border-radius: .3rem; border: .1rem solid #e0e2e6; background: #fff; position: fixed; top: 45%; left: 50%; margin-top: -15rem; margin-left: -15rem; display: none; opacity: 0; z-index: 5; padding: 1.5rem 2rem 1.5rem 2rem; }

.modal_div .modal_close { width: 1.5rem; height: 1.5rem; position: absolute; top: -2rem; right: -2rem; cursor: pointer; display: block; -webkit-transition: .2s; -o-transition: .2s; transition: .2s; }

.modal_div .modal_close svg polygon { fill: #fff; }

.modal_div .modal_close:hover svg polygon { fill: #87b448; }

.modal_div .error h2 { text-align: center; margin-bottom: .5rem; }

.modal_div .error .err_p { margin-top: .5rem; color: #d3d3d3; font-size: 1.1rem; }

#overlay { z-index: 3; position: fixed; background-color: #000; opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80); width: 100%; height: 100%; top: 0; left: 0; cursor: pointer; display: none; }

.wrapper_login { max-width: 1280px; width: 100%; position: relative; z-index: 2; padding: 0 1.5rem; height: 100%; margin: 0 auto; }

.login_head { position: absolute; top: 0; left: 0; z-index: 3; }

.login_head .wrapper_login__head { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; width: 100%; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-top: 4rem; padding-left: 5rem; padding-right: 4rem; }

.login_head .wrapper_login__head .login a { display: inline-block; font-size: 1.4rem; color: #ffffff; font-weight: 400; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; padding: .7rem 2rem; background-color: #87b448; }

.home { background: url(../img/sec1.jpg) no-repeat top center; -webkit-background-size: cover; background-size: cover; height: 51rem; z-index: 2; }

.home .content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; }

.home .content__text { max-width: 50rem; }

.home .content__text h1 { font-weight: 300; color: #f3f4f6; font-size: 4.8rem; margin-bottom: 1rem; text-align: center; }

.home .content__text p { color: #f3f4f6; font-size: 2rem; font-weight: 300; line-height: 3rem; text-align: center; }

.form_sect { background: url(../img/bg.jpg) no-repeat top center; -webkit-background-size: cover; background-size: cover; }

.form_sect .wrapper_login__form { width: 76rem; margin: 0 auto; }

.form_sect .wrapper_login__form .sing_form { -webkit-transform: translate(0px, -10rem); -ms-transform: translate(0px, -10rem); transform: translate(0px, -10rem); }

.form_sect .wrapper_login__form .sing_form .fields { background: #fff; border: 0.1rem solid #e0e2e6; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; padding: 2rem; }

.form_sect .wrapper_login__form .sing_form .fields p { color: #c1c1c1; font-size: 1.6rem; font-weight: 400; }

.form_sect .wrapper_login__form .sing_form .add_photo { margin-top: 1.4rem; display: grid; grid-template-columns: repeat(auto-fill, 13rem); -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: top; -webkit-align-items: top; -ms-flex-align: top; align-items: top; }

.form_sect .wrapper_login__form .sing_form .add_photo .add_block { width: 13rem; height: 13rem; border: 0.1rem solid #c8cdd5; background-color: #f7f7f7; -webkit-border-radius: 0.4rem; border-radius: 0.4rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; position: relative; }

.form_sect .wrapper_login__form .sing_form .add_photo .add_block:hover { background: #f4f7fb; }

.form_sect .wrapper_login__form .sing_form .add_photo .add_block:hover p { color: #87B446; }

.form_sect .wrapper_login__form .sing_form .add_photo .add_block p { padding: 0 1rem; text-align: center; font-size: 1.6rem; color: #7c8695; font-weight: 400; }

.form_sect .wrapper_login__form .sing_form .add_photo .add_block p:last-child { margin-top: .5rem; font-size: 1.2rem; color: #c2c2c4; }

.form_sect .wrapper_login__form .sing_form .add_photo .add_block .photo { position: absolute; left: 0; bottom: 0; font-size: 1px; opacity: 0; filter: alpha(opacity=0); margin: 0; padding: 0; border: none; width: 100%; height: 100%; cursor: pointer; }

.form_sect .wrapper_login__form .sing_form .add_photo .add_block .change.active { -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; -webkit-border-radius: 0.4rem; border-radius: 0.4rem; }

.form_sect .wrapper_login__form .sing_form .sub_btn { outline: none; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; background-color: #87b448; width: 100%; color: #ffffff; font-family: "Proxima Nova", sans-serif; font-size: 1.6rem; font-weight: 400; border: none; padding-top: 1.7rem; padding-bottom: 1.7rem; cursor: pointer; margin-top: 2rem; }

.form_sect .wrapper_login__form .sing_form .sub_btn:disabled { opacity: .5; }

.form_sect .wrapper_login__form .sing_form .pole_f { -webkit-border-radius: 0.5rem; border-radius: 0.5rem; background-color: #ffffff; border: 0.1rem solid #c8cdd5; font-family: "Proxima Nova", sans-serif; font-size: 1.6rem; color: #010101; padding: 1.6rem 2rem 1.6rem 2rem; -o-text-overflow: ellipsis; text-overflow: ellipsis; width: 100%; outline: none; position: relative; -webkit-transition: .2s; -o-transition: .2s; transition: .2s; }

.form_sect .wrapper_login__form .sing_form .pole_f.add_pole { margin-top: 2rem; display: none; }

.form_sect .wrapper_login__form .sing_form .pole_f.error { border: 0.1rem solid #fb6363; }

.form_sect .wrapper_login__form .sing_form .pole_f.select_pole { cursor: pointer; position: relative; background: url(../img/arrow.png) no-repeat center right 2rem, #fff; }

.form_sect .wrapper_login__form .sing_form .select_emulate { position: relative; }

.form_sect .wrapper_login__form .sing_form .select_emulate .dropdown { display: none; position: absolute; top: 100%; left: 0; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; border: 0.1rem solid #c8cdd5; background-color: #ffffff; width: 100%; z-index: 5; }

.form_sect .wrapper_login__form .sing_form .select_emulate .dropdown.active { display: block; }

.form_sect .wrapper_login__form .sing_form .select_emulate .dropdown ul { list-style: none; }

.form_sect .wrapper_login__form .sing_form .select_emulate .dropdown ul li { padding: 2rem; cursor: pointer; z-index: 3; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }

.form_sect .wrapper_login__form .sing_form .select_emulate .dropdown ul li:hover { background: #f4f7fb; color: #87B446; font-size: 1.6rem; }

.form_sect .wrapper_login__form .sing_form .text_a { resize: none; overflow-x: hidden; }

.form_sect .wrapper_login__form .sing_form label { display: block; color: #1c2534; font-size: 1.6rem; font-weight: 400; margin-bottom: .4rem; }

.form_sect .wrapper_login__form .sing_form .row_form { margin-top: 1.5rem; }

.form_sect .wrapper_login__form .sing_form .row_form .fl_row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.form_sect .wrapper_login__form .sing_form .row_form .fl_row .del { width: 48%; }

.about { padding-top: 9.9rem; padding-bottom: 11.2rem; border-top: .1rem solid #e0e2e6; background: #fff; }

.about .title_login h2 { font-weight: 300; font-size: 3rem; color: #1c2534; text-align: center; width: 100%; }

.about .aboutus { margin-top: 5rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.about .aboutus p { max-width: 63rem; text-align: left; color: #7c8695; font-size: 1.6rem; font-weight: 300; line-height: 2.4rem; }

.about .aboutus .left_a p { padding-right: 3rem; }

.about .aboutus .right_a p { padding-left: 3rem; }

footer { border-top: .1rem solid #e0e2e6; background: #fff; padding-top: 3.4rem; padding-bottom: 2.9rem; }

footer .foot { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

footer .foot p { font-size: 1.2rem; color: #b7bfcd; font-weight: 400; }

footer .foot a { font-size: 1.2rem; color: #b7bfcd; font-weight: 400; display: inline-block; margin-left: 2rem; }
